<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
</head>
<body>
  <header class="main-header">
    <a href="index.html" class="main-header--logolink">
      {% include 'parts/svgo/logo-ofpery.svg' %}
    </a>
    <nav class="main--header nav">
      {% set menuLinks = [
        {
          link: 'index.html',
          text: 'Главная'
        },
        {
          link: 'prices.html',
          text: 'Прайс'
        },
        {
          link: 'schedule.html',
          text: 'Расписание'
        }
        ]%}
      <ul>
        {% for link in menuLinks %}
        <li class="active">
          <a href="{{ link.link }}">{{ link.text }}</a>
        </li>
        {% endfor %}
      </ul>
    </nav>


  </header>